.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }

  90% {
    transform: scaleY(1.05);
  }

  to {
    transform: scaleY(1);
  }
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);

  display: none;
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  transform-origin: top;
  animation: expand 800ms ease-in-out;
  display: block;
}
