* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  border: 1px solid red;
}

.button-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 20px;
  color: #ffffff;
  background-color: #0e79dd;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.popup-modal {
  padding: 32px 64px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;

  /* top: 50% and left: 50% put
  the modal's origin point right at the center of the 
  screen. */

  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -100%);

  pointer-events: none;
  opacity: 0%;
  text-align: center;
  transition: transform 0.5s ease-in-out, opacity 400ms ease;
}
.popup-modal p {
  margin-bottom: 24px;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.popup-modal.show {
  opacity: 100%;
  pointer-events: all;
  transform: translate(-50%, -50%);
}

.backdrop.show {
  opacity: 30%;
}
